.wrapperGroup9Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 15px;
  transform: scale(1.025);
}
.wrapperGroup9 {
  width: 2037px;
  height: 1326px;
  position: absolute;
  margin: 0 !important;
  bottom: -157px;
  left: -84px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.frameChild {
  height: 788px;
  width: 1164px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--colors-base-danger-foreground);
  display: none;
  max-width: 100%;
}
.user,
.welcomeBack {
  margin: 0;
}
.user {
  color: var(--color-red-100);
}
.welcomeBackUserContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  z-index: 1;
  font-family: inherit;
}
.buttonParent,
.welcomeBackUserParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 63px;
  max-width: 100%;
}
.welcomeBackUserParent {
  gap: 137px;
}
.currentClaims {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.currentClaimsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.claimsDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.airpods1 {
  margin: 0;
}
.airpods {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.airpods,
.fbf474d5f22,
.smithHall {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.smithHall {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: 400;
  font-family: inherit;
}
.fbf474d5f22 {
  font-size: var(--font-size-xs);
  text-decoration: underline;
  color: var(--color-red-100);
  display: inline-block;
  min-width: 79px;
}
.claimDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  gap: 0.5px;
}
.itemDivider {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.claimDivider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 7px;
}
.bearcatCard {
  margin: 0;
  width: 191px;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.baldwinHall,
.bearcatCard,
.cfb807629ad6 {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.baldwinHall {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.cfb807629ad6 {
  font-size: var(--font-size-xs);
  text-decoration: underline;
  color: var(--color-red-100);
  display: inline-block;
  min-width: 84px;
}
.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
}
.claimDetailsContainerParent {
  width: 237px;
  gap: var(--gap-4xs);
  font-size: var(--font-size-12xl);
}
.claimDetailsContainerParent,
.claimListContainer,
.claimListContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.claimListContainer {
  align-self: stretch;
  gap: var(--gap-15xl);
}
.claimListContainerWrapper {
  width: 245px;
  padding: 36px 0 0;
  box-sizing: border-box;
  font-size: 30px;
}
.frameItem,
.rectangleParent {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-6xl);
  background-color: var(--colors-base-danger-foreground);
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 88px 68px 202px 81px;
  box-sizing: border-box;
  min-width: 757px;
  gap: var(--gap-xl);
  z-index: 1;
}
.frameItem {
  width: 453px;
  height: 788px;
  position: relative;
  display: none;
}
.admin {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 64px;
  z-index: 2;
}
.adminTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.adminDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 2;
}
.adminContainer,
.adminHeader {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.adminHeader {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 11px;
}
.adminContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 9px;
  box-sizing: border-box;
}
.frameInner,
.pm {
  position: relative;
}
.pm {
  width: 119px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: 2;
}
.frameInner {
  height: 82px;
  width: 225px;
  border-radius: var(--br-mini);
  background-color: var(--color-dodgerblue);
  display: none;
}
.thisIsAn {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 3;
}
.rectangleContainer {
  width: 225px;
  border-radius: var(--br-mini);
  background-color: var(--color-dodgerblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-13xl)
    var(--padding-5xs);
  box-sizing: border-box;
  z-index: 2;
  font-size: var(--font-size-lgi);
  color: var(--colors-base-danger-foreground);
}
.pm1 {
  width: 67px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.pmWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.messageContent,
.messageElements,
.pmWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.messageContent {
  border: 0;
  background-color: #e7e7e7;
  height: 82px;
  width: 225px;
  outline: 0;
  border-radius: var(--br-mini);
  justify-content: flex-start;
  padding: var(--padding-12xs) 11px;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  z-index: 2;
}
.messageElements {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
}
.pm2 {
  width: 96px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: 2;
}
.rectangleDiv {
  position: absolute;
  width: calc(100% - 5px);
  top: 0;
  right: 5px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-dodgerblue);
  height: 82px;
  z-index: 2;
}
.thisIsAn1 {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 223px;
  height: 47px;
  z-index: 3;
}
.frameDiv {
  height: 82px;
  flex: 1;
  position: relative;
}
.messageContainer,
.messageElements1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.messageElements1 {
  width: 232px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-lgi);
  color: var(--colors-base-danger-foreground);
}
.messageContainer {
  align-self: stretch;
  flex-direction: column;
  gap: 5px;
}
.frameChild1 {
  height: 84px;
  width: 382px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.buttonIcon {
  height: 100%;
  width: 100%;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10px;
  transform: scale(1.75);
}
.wrapperButton {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 8px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent1 {
  width: 382px;
  height: 84px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.messageContainerParent {
  width: 399px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  font-size: var(--font-size-xs);
}
.frameGroup,
.messageContainerParent,
.rectangleGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  width: 453px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-6xl);
  background-color: var(--colors-base-danger-foreground);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-3xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: 288px;
  min-width: 453px;
  z-index: 1;
  font-size: var(--font-size-2xl);
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 66px;
}
.footerContainerChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--colors-base-danger-foreground);
  width: 318px;
  height: 55px;
  z-index: 1;
}
.coreDumpersLimited {
  position: absolute;
  top: 14px;
  left: 48px;
  z-index: 2;
}
.footerContainer {
  height: 44px;
  width: 318px;
  position: relative;
}
.footer,
.frameParent {
  display: flex;
  max-width: 100%;
}
.footer {
  width: 1636px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
}
.frameParent {
  width: 1683px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-49xl);
}
.message,
.messageInner {
  display: flex;
  align-items: flex-start;
}
.messageInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.message {
  width: 100%;
  position: relative;
  background-color: var(--colors-base-danger-foreground);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-64xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-43xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .welcomeBackUserContainer {
    font-size: var(--font-size-18xl);
  }
  .buttonParent {
    gap: 31px;
  }
  .welcomeBackUserParent {
    gap: var(--gap-49xl);
  }
  .airpods,
  .currentClaims {
    font-size: var(--font-size-lg);
    line-height: 14px;
  }
  .airpods {
    font-size: var(--font-size-lgi);
  }
  .bearcatCard {
    font-size: var(--font-size-2xl);
    line-height: 19px;
  }
  .rectangleParent {
    padding-top: var(--padding-18xl);
    padding-bottom: 85px;
    box-sizing: border-box;
  }
  .admin {
    font-size: 17px;
  }
  .rectangleGroup {
    gap: 144px;
  }
  .frameGroup {
    gap: 16px;
  }
  .frameParent {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 950px) {
  .rectangleParent {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .message {
    gap: var(--gap-22xl);
  }
}
@media screen and (max-width: 450px) {
  .welcomeBackUserContainer {
    font-size: var(--font-size-31xl);
  }
  .currentClaims {
    font-size: 24px;
    line-height: 19px;
  }
  .airpods {
    font-size: var(--font-size-6xl);
    line-height: 19px;
  }
  .rectangleParent {
    padding-top: var(--padding-38xl);
    padding-bottom: 131px;
    box-sizing: border-box;
  }
  .rectangleGroup {
    min-width: 100%;
  }
  .frameGroup {
    gap: 33px;
  }
  .frameParent {
    gap: var(--gap-15xl);
  }
  .message {
    gap: var(--gap-2xl);
  }
}
