.mainChild {
  height: 97px;
  width: 1920px;
  position: relative;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--colors-base-danger-foreground);
  display: none;
  max-width: 100%;
}
.tracrio {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 2;
}
.buttonIcon,
.frameChild,
.frameItem {
  height: 48px;
  width: 48px;
  position: relative;
  z-index: 2;
}
.buttonIcon {
  border-radius: var(--br-xs);
}
.buttonWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.buttonWrapper,
.frameParent,
.main,
.mainInner {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.main,
.mainInner {
  box-sizing: border-box;
}
.mainInner {
  width: 225px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.main {
  align-self: stretch;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--colors-base-danger-foreground);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-45xl) var(--padding-xs)
    var(--padding-16xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-43xl);
  color: var(--color-red-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .main {
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
