.wrapperGroup9Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 15px;
  transform: scale(1.025);
}
.wrapperGroup9 {
  width: 2037px;
  height: 1326px;
  position: absolute;
  margin: 0 !important;
  bottom: -157px;
  left: -84px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.frameChild {
  width: 1164px;
  height: 788px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--colors-base-danger-foreground);
  display: none;
  max-width: 100%;
}
.admin,
.welcomeBack {
  margin: 0;
}
.admin {
  color: var(--color-red-100);
}
.welcomeBackAdminContainer {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.vuesaxlinearcircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  min-height: 24px;
}
.manageLostItems {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 24px;
  font-family: var(--text-base-leading-6-font-medium);
  color: var(--colors-base-danger-foreground);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-15xl);
  background-color: var(--colors-base-danger);
  width: 372px;
  box-shadow: var(--shadow-danger-lg);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
  max-width: 100%;
  z-index: 2;
}
.button1:hover,
.button2:hover,
.button:hover {
  background-color: var(--color-deeppink);
}
.vuesaxlinearcircleIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  min-height: 24px;
}
.manageDeployment {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 24px;
  font-family: var(--text-base-leading-6-font-medium);
  color: var(--colors-base-danger-foreground);
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) 18px var(--padding-6xl) var(--padding-15xl);
  background-color: var(--colors-base-danger);
  box-shadow: var(--shadow-danger-lg);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
  max-width: 100%;
  z-index: 2;
}
.vuesaxlinearcircleIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
  min-height: 24px;
}
.systemReport {
  position: relative;
  font-size: var(--font-size-12xl);
  line-height: 24px;
  font-family: var(--text-base-leading-6-font-medium);
  color: var(--colors-base-danger-foreground);
  text-align: left;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-21xl);
  background-color: var(--colors-base-danger);
  width: 311px;
  box-shadow: var(--shadow-danger-lg);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
  z-index: 2;
}
.deploymentReportsButtons,
.managementButtons {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.deploymentReportsButtons {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.managementButtons {
  flex-direction: column;
  justify-content: flex-start;
  gap: 72px;
}
.rectangleParent,
.separator {
  background-color: var(--colors-base-danger-foreground);
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-69xl) var(--padding-62xl) 209px;
  box-sizing: border-box;
  gap: 121px;
  max-width: 100%;
}
.separator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 318px;
  height: 55px;
}
.coreDumpersLimited {
  position: absolute;
  top: 14px;
  left: 48px;
  z-index: 2;
}
.copyright {
  height: 44px;
  width: 318px;
  position: relative;
}
.footer,
.welcomeContent {
  display: flex;
  max-width: 100%;
}
.footer {
  width: 1118px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--text-base-leading-6-font-medium);
}
.welcomeContent {
  width: 1164px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-49xl);
}
.adminHome,
.welcomeContentWrapper {
  display: flex;
  align-items: flex-start;
}
.welcomeContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.adminHome {
  width: 100%;
  position: relative;
  background-color: var(--colors-base-danger-foreground);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-64xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-43xl);
  color: var(--color-black);
  font-family: var(--text-base-leading-6-font-medium);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    gap: 60px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .welcomeContent {
    gap: var(--gap-15xl);
  }
}
@media screen and (max-width: 767px) {
  .managementButtons {
    gap: 18px;
  }
  .rectangleParent {
    gap: 30px;
  }
  .welcomeContent {
    gap: var(--gap-mid);
  }
  .adminHome {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .welcomeBackAdminContainer {
    font-size: var(--font-size-18xl);
  }
  .rectangleParent {
    gap: var(--gap-mini);
    padding-top: var(--padding-18xl);
    padding-bottom: var(--padding-69xl);
    box-sizing: border-box;
  }
}
